<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>489283869019-n3chhc517ld9v9l9da7c5n084glnv89b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.489283869019-n3chhc517ld9v9l9da7c5n084glnv89b</string>
	<key>API_KEY</key>
	<string>AIzaSyAgkVrvhtB39QlyF47OPQ5lT5A4lnz5Myk</string>
	<key>GCM_SENDER_ID</key>
	<string>489283869019</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fluttify</string>
	<key>PROJECT_ID</key>
	<string>fluttify-4e9eb</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttify-4e9eb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:489283869019:ios:f97d170f7b1a276a18227e</string>
</dict>
</plist>